RewriteEngine On 

RewriteRule ^$ index.php?language=fr&page=1
RewriteRule ^ads$ index.php?language=fr&page=2&tp=basic
RewriteRule ^ads-(.*)$ index.php?language=fr&page=5&tp=basic&idad=$1
RewriteRule ^statics$ index.php?language=fr&page=3&tp=premium

